#root {
  color: white;
  font-family: Figtree, Lexend;
  --white: #fff;
}

.custom-class {
  margin-top: 48px;
  background-color: #686868;
  color: #71717a;
}

.custom-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1152px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
}

.heading-1 {
  font-size: 42px;
  font-weight: 700;
}

.heading-2 {
  font-size: 24px;
  font-weight: 700;
}

.heading-3 {
  font-size: 18px;
  font-weight: 500;
}

.wrapper {
  max-width: 390px;
  background: #242833;
  padding: 30px;
  border-radius: 15px;
  margin: 200px auto;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}

.margin {
  margin: 5% 20%;
}

.input[type="text"] {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  background-color: "#2D5D7B";
  border: none;
}

.button-color {
  background-color: #2d5d7b;
  color: white;
}

.button-color:hover {
  background-color: white;
  color: #2d5d7b;
}
